{
    "discord" : {
        "token" : "",
        "guild_id" : 0,
        "submit_channel_id" : 0,
        "log_channel_id" : 0,
        "queue_channel_id" : 0
    },
    "instagram" : {
        "username" : "",
        "password" : ",
        "caption" : ""
    },
    "delay": 10,
    "mongodb": {
        "host": "localhost",
        "port": 27017,
        "username": "",
        "password": "",
        "database": ""
    }
}